/**
 * ProcessAgentTools admin CSS
 *
 */

.pw-wiretabs .pw-table-responsive {
	/* gets rid of unwanted margin between tabs and tasks tables */
	margin-top: 0;
}

.at-engineer-checkboxes {
	input {
		margin-right: 0.5em;
	}
	label {
		margin-right: 1em;
		position: relative;
		top: 3px;
	}
}

#wrap_Inputfield_submit_agents {
	margin-top: 0 !important;
}

#at-add-agent {
	margin-bottom: 2em;
}

.at-agent-item {
	margin-bottom: 10px;
}

#at-add-agent {
	padding-top: 10px;
}

#at-agents-form .fa-arrows {
	cursor: move;
}

.at-agent-deleting {
	opacity: 0.5;
}
.at-agent-deleting .InputfieldHeader {
	text-decoration: line-through;
}

.InputfieldForm .pw-table-responsive {
	margin-top: 0;
}

body.AdminThemeUikitOriginal div.pw-wiretabs {
	margin-top: 20px;
}
